.team-player-information{

&:hover
{
    background-color: #0f2b38;
    color: white;
    transform: scale(1.1);
    transition: 0.3s;
}
}

.gap-divider{
  margin-top: 5%;
  margin-bottom: 3%;
}
.team-upcoming-matches{
    width:20rem;
    padding:1em 2em;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    height: auto;
  }
  .team-upcoming-matches ul{
    list-style-type:none;
    border-left:2px solid #094a68;
    padding:1em .5em;
  }
  .team-upcoming-matches ul li{
    padding:1em 1em;
    position:relative;
    cursor:pointer;
    transition:.5s;
  }
  .team-upcoming-matches .active-game{
    display:inline-block;
    color: white;
    background-color:#1685b8;
    border-radius:25px;
    padding:2px 5px;
    font-size:14px;
    text-align:center;
  }
  .team-upcoming-matches ul li .content h3{
    color:#34ace0;
    padding-top:5px;
    text-align: center;
  }

  .team-upcoming-matches .past-game{
    display:inline-block;
    color: white;
    background-color:#1685b8;
    opacity: 40%;
    border-radius:25px;
    padding:2px 5px;
    font-size:14px;
    text-align:center;
  }
  .team-upcoming-matches ul li:before{
    position:absolute;
    content:'';
    width:10px;
    height:10px;
    background-color:#34ace0;
    border-radius:50%;
    left:-11px;
    top:28px;
    transition:.5s;
  }
  .team-upcoming-matches ul .active-game-hover:hover{
    background-color:#0f2b38;
  }
  .team-upcoming-matches ul .active-game-hover:hover:before{
    background-color:#0F0;
    box-shadow:0px 0px 10px 2px #0F0;
  }
  .team-upcoming-matches ul .past-game-hover:hover{
    background-color:#0f2b38;
  }
  .team-upcoming-matches ul .past-game-hover:hover:before{
    background-color:rgb(167, 175, 167);
    box-shadow:0px 0px 10px 2px rgb(156, 158, 156);
  }


  @media (max-width:300px){
    .team-upcoming-matches{
      width:100%;
      padding:30px 5px 30px 10px;
    }
    .team-upcoming-matches ul li .content h3{
      color:#34ace0;

    }
    .team-header{
        width: 100%;
    }
  
  }
