.card-wrapper {
  display: flex;
  width: auto;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.center-header {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  margin-top: 2%;
}

/* .logo-container{

  & img:last-child {
    display: none;  

    
  }
  &:hover img:last-child {
    display: flex;  
  }
  &:hover img:last-child {
    display: flex;  
    background-color: white;
    
  }
  &:hover img:first-child{
    display: none;
  }
}  For testing purposes, please ignore.*/

.center-text {
  align-self: center;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}

.nav-links {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.navbar-underline-animation {
  display: inline-block;
  position: relative;
  color: #00ad43;
}

.navbar-underline-animation:after {
  content: "";
  color: white;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ad43;
  transform-origin: bottom middle;
  transition: transform 0.4s ease-out;
}

.navbar-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}

.trialbtn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: #212529;
  color: white;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 500ms;
  &:after,
  &:before {
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 500ms;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 1px solid white;
    border-left: 1px solid white;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #00ad43;
    color: black;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      /* border-color:white; */
    }
    .navbar-logo-animation {
    }

    .trialbtn {
      cursor: pointer;
      position: relative;
      padding: 10px 20px;
      background: #212529;
      color: white;
      font-size: 14px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      transition: all 500ms;
      &:after,
      &:before {
        content: " ";
        width: 0px;
        height: 0px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 500ms;
      }
<<<<<<< HEAD
    &:after{
      top:-1px;
      left:-1px;
      border-top:1px solid white;
      border-left:1px solid white;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:1px solid white;
      border-right:1px solid white;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      background:#00ad43;
      color:black;
      &:before,&:after{
        width:100%;
        height:100%;
<<<<<<< HEAD
        border-color:white;
=======
        /* border-color:white; */
>>>>>>> a69a655f658813b856e39cec7e5af56fdf660259
      }
    }
  }

=======
      &:after {
        top: -1px;
        left: -1px;
        border-top: 1px solid white;
        border-left: 1px solid white;
      }
      &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
      }
      &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background: #00ad43;
        color: black;
        &:before,
        &:after {
          width: 100%;
          height: 100%;
          /* border-color:white; */
        }
      }
    }
  }
}
>>>>>>> 829da55 (conflicts: navigation conflict fix and mui packages)
